@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Crete+Round");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body nav {
  font-family: 'Crete Round', serif;
  padding: 8px 0px 0px 0px;
  height: 30px;
  top: 0;
  text-align: left;
  background-color: #000;
  color: #fff;
}

body nav a {
  -webkit-transition: .2s;
  transition: .2s;
  margin: 20px 0px 0px 10px;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body nav a {
    font-size: 80%;
  }
}

@media only screen and (max-width: 320px) {
  body nav a {
    font-size: 70%;
  }
}

body #gym-navbar {
  height: 70px;
  width: 100%;
  margin: 0;
  background-color: #ffc600;
  color: #000;
  display: inline-block;
}

body #gym-navbar #gym-logo {
  font-family: 'Alfa Slab One', cursive;
  margin: 15px 0 0 60px;
  font-size: 180%;
  float: left;
}

body #gym-navbar .nav-options {
  text-decoration: none;
  color: #000;
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
  margin: 0px 60px 0px 20px;
  padding: 25px 0px 0px 0px;
  height: 36px;
  -webkit-transition: .2s;
  transition: .2s;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body #gym-navbar .nav-options {
    font-size: 0;
  }
}

@media only screen and (max-width: 320px) {
  body #gym-navbar .nav-options {
    font-size: 0;
  }
}

body #gym-navbar .nav-options:hover {
  cursor: pointer;
  border-bottom: 9px solid #000;
}

body #gym-navbar #r1 {
  float: right;
}

body #gym-navbar #r2 {
  float: right;
  margin: 0px 10px 0px 20px;
}

body #gym-navbar #r3 {
  float: right;
  margin: 0px 10px 0px 20px;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body #gym-navbar #gym-logo {
    margin: 20px 0 0 60px;
    font-size: 180%;
    float: left;
  }
  body #gym-navbar .nav-options {
    margin: 30px 60px 0px 20px;
  }
  body #gym-navbar .nav-options:hover {
    cursor: pointer;
  }
}

body .p-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

body .container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

body .container .fullscreen-img-wrapper {
  position: absolute;
  top: 105px;
  left: 0;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 12px 0px #9b9b9b71;
          box-shadow: 0px 5px 12px 0px #9b9b9b71;
}

body .container .fullscreen-img-wrapper img {
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  min-height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container .header-overlay {
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 105px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: 1;
  opacity: .85;
}

body .container .header-content-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'a a a' 'b b b'  'c c c';
  height: 90vh;
  z-index: 2;
}

body .container .header-content-wrapper .header-content-header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: a;
}

body .container .header-content-wrapper .header-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: b;
}

body .container .header-content-wrapper .header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

body .container .header-content-wrapper .header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

body .container .header-content-wrapper .header-content-footer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: c;
}

body #services {
  padding: 20px 0;
}

body #services .owl-carousel {
  max-width: auto;
  width: 100%;
  overflow-x: hidden;
}

body #services .owl-carousel .owl-stage-outer .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #services .owl-carousel .owl-nav {
  text-align: center;
}

body #services .owl-carousel .owl-dots {
  text-align: center;
}

body .container form {
  text-align: left;
}

body .container form > div {
  position: relative;
  overflow: hidden;
}

body .container form .field-wrapper {
  margin-top: 2%;
}

body .container form input, body .container form textarea {
  width: 90%;
  right: 3%;
  left: 3%;
  top: 3%;
  bottom: 3%;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  position: relative;
  font-size: 120%;
  z-index: 1;
  outline: 0;
}

body .container form input:valid, body .container form textarea:valid {
  background: white;
}

body .container form input:focus, body .container form textarea:focus {
  border-color: black;
}

body .container form input:focus + label, body .container form textarea:focus + label {
  background: black;
  color: white;
  font-size: 100%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}

body .container form label {
  -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: black;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 7px 7px 6px 6px;
  right: 3%;
  left: 3%;
  top: 3%;
}

body .container form textarea {
  display: inline-block;
  resize: none;
}

body .container form.form-wrapper input, body .container form.form-wrapper textarea {
  padding: 12px 12px 12px 12px;
}

body .container form.form-wrapper label {
  border-radius: 3px;
  right: 3%;
  left: 3%;
  top: 3%;
  width: 100%;
}

body .container form.form-wrapper input:focus, body .container form.form-wrapper textarea:focus {
  padding: 4px 6px 20px 6px;
}

body .container form.form-wrapper input:focus + label, body .container form.form-wrapper textarea:focus + label {
  top: 100%;
  margin-top: -22px;
}

body #shoes #reach-us {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'a b c' 'a b c' 'a b c';
}

body #shoes #reach-us #open-hours {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: a;
}

body #shoes #reach-us #legal {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: b;
}

body #shoes #reach-us #find-us {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: c;
}

body #shoes #foot {
  text-align: center;
  height: 40px;
  width: 100%;
  margin: 0;
  background-color: #ffc600;
  color: #000;
  display: inline-block;
}

body #shoes #foot p {
  margin: 12px 0px 0px 0px;
  height: 16px;
}

body img {
  max-width: 100%;
  width: auto;
  height: auto;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.582);
  color: #ffd200;
}

::selection {
  background: rgba(0, 0, 0, 0.582);
  color: #ffd200;
}
/*# sourceMappingURL=main.css.map */