@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Crete+Round");
@-webkit-keyframes crossFade {
  0% {
    background: url("/static/gym/img/1.jpg");
    background-size: cover;
  }
  16.67% {
    background: url("/static/gym/img/2.jpg");
    background-size: cover;
  }
  33.34% {
    background: url("/static/gym/img/10.jpg");
    background-size: cover;
  }
  50.01% {
    background: url("/static/gym/img/4.jpg");
    background-size: cover;
  }
  66.68% {
    background: url("/static/gym/img/5.jpg");
    background-size: cover;
  }
  83.35% {
    background: url("/static/gym/img/6.jpg");
    background-size: cover;
  }
  100% {
    background: url("/static/gym/img/7.jpg");
    background-size: cover;
  }
}
@keyframes crossFade {
  0% {
    background: url("/static/gym/img/1.jpg");
    background-size: cover;
  }
  16.67% {
    background: url("/static/gym/img/2.jpg");
    background-size: cover;
  }
  33.34% {
    background: url("/static/gym/img/10.jpg");
    background-size: cover;
  }
  50.01% {
    background: url("/static/gym/img/4.jpg");
    background-size: cover;
  }
  66.68% {
    background: url("/static/gym/img/5.jpg");
    background-size: cover;
  }
  83.35% {
    background: url("/static/gym/img/6.jpg");
    background-size: cover;
  }
  100% {
    background: url("/static/gym/img/7.jpg");
    background-size: cover;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body nav {
  font-family: 'Crete Round', serif;
  padding: 8px 0px 0px 0px;
  height: 30px;
  top: 0;
  text-align: left;
  background-color: #000;
  color: #fff;
}

body nav a {
  -webkit-transition: .2s;
  transition: .2s;
  margin: 20px 0px 0px 10px;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body nav a {
    font-size: 80%;
  }
}

@media only screen and (max-width: 320px) {
  body nav a {
    font-size: 70%;
  }
}

body #gym-navbar {
  height: 70px;
  width: 100%;
  margin: 0;
  background-color: #ffc600;
  color: #000;
  display: inline-block;
}

body #gym-navbar #gym-logo {
  font-family: 'Alfa Slab One', cursive;
  margin: 15px 0 0 60px;
  font-size: 180%;
  float: left;
}

body #gym-navbar .nav-options {
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
  margin: 0px 60px 0px 20px;
  padding: 25px 0px 0px 0px;
  height: 36px;
  -webkit-transition: .2s;
  transition: .2s;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body #gym-navbar .nav-options {
    font-size: 0;
  }
}

@media only screen and (max-width: 320px) {
  body #gym-navbar .nav-options {
    font-size: 0;
  }
}

body #gym-navbar .nav-options:hover {
  cursor: pointer;
  border-bottom: 9px solid #000;
}

body #gym-navbar #r1 {
  float: right;
}

body #gym-navbar #r2 {
  float: right;
  margin: 0px 10px 0px 20px;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body #gym-navbar #gym-logo {
    margin: 20px 0 0 60px;
    font-size: 180%;
    float: left;
  }
  body #gym-navbar .nav-options {
    margin: 30px 60px 0px 20px;
  }
  body #gym-navbar .nav-options:hover {
    cursor: pointer;
  }
}

body .p-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

body .container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

body .container .fullscreen-img-wrapper {
  position: absolute;
  top: 105px;
  left: 0;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  -webkit-animation-name: crossFade;
          animation-name: crossFade;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-box-shadow: 0px 8px 12px #9b9b9b71;
          box-shadow: 0px 8px 12px #9b9b9b71;
}

body .container .header-overlay {
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 105px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: 1;
  opacity: .85;
}

body .container .header-content-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'a a a' 'b b b'  'c c c';
  height: 90vh;
  z-index: 2;
}

body .container .header-content-wrapper .header-content-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a;
}

body .container .header-content-wrapper .header-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: b;
}

body .container .header-content-wrapper .header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

body .container .header-content-wrapper .header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

body .container .header-content-wrapper .header-content-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: c;
}

body #services .section {
  padding: 20px 0;
}

body #services .section .section-b {
  background: #333;
  color: #fff;
}

body img {
  max-width: 100%;
  width: auto;
  height: auto;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.582);
  color: #ffd200;
}

::selection {
  background: rgba(0, 0, 0, 0.582);
  color: #ffd200;
}
/*# sourceMappingURL=main.css.map */