<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GYM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/gym/css/main.css" />
    <script src="{% static 'gym/node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'gym/node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="static/gym/node_modules/@fortawesome/fontawesome-free/css/all.css" />
</head>
<body>
    <nav>
        <a id='adress'>Deimos, 001, Mars, Orion Spur</a>
    </nav>
    <div id='navbar'>
        <a id='gym-logo'>GYM <i class="fas fa-dumbbell"></i></a>
        <div id='menu'>
            <a href='#get-in-touch' class='nav-options scroll' id='r1'> Get in touch! </a>
            <a href='#services' class='nav-options scroll' id='r2'> What do we offer? </a>
            <a href='#who-are-we' class='nav-options scroll' id='r3'> Who are we? </a>
        </div>
        <div id='dropdown-btn'>
            <i class="fas fa-bars"></i>
        </div>
        <div id='dropdown'>
            <a href='#get-in-touch' class='dropdown-options scroll' id='r1'> Get in touch! </a>
            <a href='#services' class='dropdown-options scroll' id='r2'> What do we offer? </a>
            <a href='#who-are-we' class='dropdown-options scroll' id='r3'> Who are we? </a>  
        </div> 
    </div>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
    {% block content %}
    {% endblock %}
    <div id='shoes'>
        <div id='reach-us'>
            <div id='open-hours'>
                <h2>Opening hours</h2>
                <h4>Monday to friday</h4>
                <h4>06:00 - 22:00</h4>
                <h4>Saturday to Sunday</h4>
                <h4>07:00 - 18:00</h4>
            </div>
            <div id='legal'>
                <h4><i class="fas fa-dumbbell"></i></h4>
                <h4>Privacy Policy</h4>
                <h4>Terms & Conditions</h4>
            </div>
            <div id='find-us'></div>
            <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
            <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
            <script>
                var platform = new H.service.Platform({
                    'app_id': '16XUxA45ecnL8eTSuyEa',
                    'app_code': 'Bso1RPFdyIuW5DoDuJoI1w'
                });

                var defaultLayers = platform.createDefaultLayers();

                var map = new H.Map(
                    document.getElementById('find-us'),
                    defaultLayers.normal.map,
                    {
                        zoom: 10,
                        center: { lat: 52.5, lng: 13.4 }
                });
            </script>
        </div>
        <div id='foot'>
            <p>Copyright © {% now "Y" %} | Gym | All Rights Reserved.</p>
        </div>
    </div>
</body>
</html>