<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GYM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/gym/css/main.css" />
    <script src="{% static 'gym/node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'gym/node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
</head>
<body>
    <nav>
        <a id='adress'>Deimos, 001, Mars, Orion Spur</a>
    </nav>
    <div id='gym-navbar'>
        <i class="fas fa-bars"></i>
        <a id='gym-logo'>GYM</a>
        <a href='#get-in-touch' class='nav-options scroll' id='r1'> Get in touch! </a>
        <a href='#services' class='nav-options scroll' id='r2'> What do we offer? </a>
        <a href='#who-are-we' class='nav-options scroll' id='r3'> Who are we? </a>
    </div>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
    {% block content %}
    {% endblock %}
    <div id='get-in-touch' class='container'>
        <form action='' class='form-wrapper' method='POST'>
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class='field-wrapper'>
				{{ form.sender_name.errors }}
				{{ form.sender_name }}
				{{ form.sender_name.label_tag }}
			</div>
            <div class='field-wrapper'>
                {{ form.sender_email.errors }}
				{{ form.sender_email }}
				{{ form.sender_email.label_tag }}
            </div>
            <div class='field-wrapper'>
                {{ form.subject.errors }}
				{{ form.subject }}
				{{ form.subject.label_tag }}
            </div>
            <div class='field-wrapper'>
                {{ form.body.errors }}
				{{ form.body }}
				{{ form.body.label_tag }}
			</div>
			<input id='submit-button' type='submit' value='SUBMIT' action=''>
		</form>
    </div>
    <div id='shoes'>
        <div id='reach-us' class='container'>
            <div id='open-hours'>
                <h3>Opening hours</h3>
                <h4>Monday to friday</h4>
                <h5>06:00 - 22:00</h5>
                <h4>Saturday to Sunday</h4>
                <h5>07:00 - 18:00</h5>
            </div>
            <div id='legal'>
                <h4>Logo</h4>
                <h4>Privacy Policy</h4>
                <h4>Terms & Conditions</h4>
            </div>
            <div id='find-us'></div>
            <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
            <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
            <script>
                var platform = new H.service.Platform({
                    'app_id': '16XUxA45ecnL8eTSuyEa',
                    'app_code': 'Bso1RPFdyIuW5DoDuJoI1w'
                });

                var defaultLayers = platform.createDefaultLayers();

                var map = new H.Map(
                    document.getElementById('find-us'),
                    defaultLayers.normal.map,
                    {
                        zoom: 10,
                        center: { lat: 52.5, lng: 13.4 }
                });
            </script>
        </div>
        <div id='foot'>
            <p>Copyright © {% now "Y" %} | Gym | All Rights Reserved.</p>
        </div>
    </div>
</body>
</html>